In [1]:
import pandas as pd

In [4]:
movies = pd.read_csv(r"BOOK1.csv")

In [5]:
movies

,ID,NAME,INDUSTRY,GENRE,LANGUAGE,DURATION,RATING
0,1,Bahubali,TOLLYWOOD,Action,Telgu,170,9.5
1,2,Brahmastra,Bollywood,Myseterious,Hindi,180,5.0
2,3,Uri - the surgical strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers - End game,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,Sci-fi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Interseller,Hollywood,Sci-fi,English,190,7.0
8,9,Gravity,Hollywood,Sci-fi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,English,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [8]:
movies['DURATION'].argmax()

7

In [10]:
movies['NAME'][movies['DURATION'].argmax()]

'Interseller'

In [12]:
movies['NAME'][5]

'Tenet'

In [15]:
sum(movies['RATING']==10)

2

In [16]:
movies['INDUSTRY'].value_counts().count()

3

In [17]:
len(movies['INDUSTRY'].value_counts())

3

In [18]:
movies['INDUSTRY'].nunique()

3

In [21]:
movies[movies['GENRE']=='Comedy']

    ID          NAME   INDUSTRY   GENRE LANGUAGE  DURATION  RATING
11  12      Houseful  Bollywood  Comedy  English       150     6.0
12  13  The Dictator  Hollywood  Comedy  English       120     7.0
13  14    Hera Pheri  Bollywood  Comedy    Hindi       140     9.0

In [24]:
movies['NAME'][movies[movies['GENRE']=='Comedy']['RATING'].idxmin()]

'Houseful'

In [26]:
movies['NAME'][movies[movies['LANGUAGE']=='English']['DURATION'].idxmax()]

'Interseller'