In [1]:
import pandas as pd

In [2]:
movies = pd.read_clipboard()

In [4]:
movies

,id,name,industry,genre,language,duration,rating
0,1,Baahubali,Tollywood,Action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri - The Surgical Strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers - End Game,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Diwani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [5]:
movies = pd.read_csv(r'myMovies.csv')

In [6]:
movies

,id,name,industry,genre,language,duration,rating
0,1,Baahubali,Tollywood,Action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri - The Surgical Strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers - End Game,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Diwani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

#### 1 - Find the longest movie name?

In [8]:
movies['duration'].argmax()

7

In [9]:
movies['name'][7]

'Intersteller'

In [10]:
movies['name'][movies['duration'].argmax()]

'Intersteller'

##### 2 - Number of Movies who got 10 Rating?

In [12]:
sum(movies['rating']==10)

2

##### How many industries are there?

In [15]:
movies['industry'].value_counts().count()

3

In [16]:
len(movies['industry'].value_counts())

3

In [17]:
movies['industry'].nunique()

3

##### 4 Find Least Liked Comedy Movie?

In [33]:
movies['name'][movies[movies['genre'] == 'Comedy']['rating'].idxmin()]

'Houseful'

In [34]:
movies.columns

Index(['id', 'name', 'industry', 'genre', 'language', 'duration', 'rating'], dtype='object')

##### 5. Longest English Movie Name

In [35]:
movies['name'][movies[movies['language']=='English']['duration'].idxmax()]

'Intersteller'